<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="URL_API" value="https://cai-api.azurewebsites.net/api/v1/" />
        <add key="PATH_CLIENTE" value="cliente" />
        <add key="PATH_PRODUCTO" value="Productos" />
        <add key="PATH_VENTA" value="Ventas" />
        <add key="PATH_PROVEEDOR" value="Proveedores" />
        <add key="TP_ID" value="897914" />
        <add key="TP_CATEGORIA" value="VentaHardware" />
        <add key="TP_NOMBRE" value="Hardware Springfield - Venta de hardware" />
        <add key="PRODUCTO_PRECIO_MAXIMO" value="99999999" />
        <add key="PRODUCTO_STOCK_MAXIMO" value="10000" />
    </appSettings>
</configuration>