<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="URL_API" value="https://cai-api.azurewebsites.net/api/v1/" />
        <add key="TP_ID" value="897914" />
        <add key="TP_CATEGORY" value="VentaHardware" />
        <add key="TP_NAME" value="Hardware Springfield - Venta de hardware" />
    </appSettings>
</configuration>